@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&display=swap');

@font-face {
  font-family: 'cocogoose';
  src: url(../fonts/Cocogoose_trial.otf);
}

:root {
  --font-lato: 'Lato', sans-serif;
  --font-open: 'Open Sans', sans-serif;
  --font-cocogoose: 'Cocogoose', sans-serif;
  --color-theme: #ec5242;
  --color-main: #d3d3d3;
  --color-dark: #272a31;
}

body {
  padding: 0;
  margin: 0;
}

p,
.details {
  font-family: var(--font-lato);
}

h3 {
  font-family: var(--font-lato);
}

.line {
  width: 40px;
  height: 2px;
  margin: 0 auto;
  background-color: var(--color-theme);
}

.desktop-version {
  display: none;
}

header {
  position: absolute;
  z-index: 1;
}

header,
header nav {
  background-color: transparent;
}

main {
  position: relative;
  padding-bottom: 100px;
  /* z-index: 1; */
}

main::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;
}

main h1 {
  text-transform: uppercase;
  margin: 0 15px 20px;
  padding-top: 170px;
  font-family: var(--font-cocogoose);
  color: var(--color-theme);
}

main h1 span {
  font-family: var(--font-lato);
  font-size: 1.5rem;
}

main.index .details {
  border: solid 2px rgb(235, 224, 224);
  margin: 0 15px 0;
  padding: 15px;
}

main.index .time-location {
  font-family: var(--font-cocogoose);
  color: var(--color-dark);
  margin: 0 15px 0;
}

main.index .time-location h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

main.index .time-location p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* about */
main.about .summary {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--color-main);
  color: var(--color-dark);
  font-family: var(--font-lato);
  margin: 15px;
  padding: 30px;
}

main.about p {
  display: block;
  text-align: center;
  margin: 40px 15px;
}

main.about a {
  display: block;
  position: relative;
  text-decoration: underline;
  text-align: center;
  color: var(--color-dark);
  margin: 30px 15px;
}

.about-logo h3,
.past-summits h3 {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.about-logo p {
  margin: 30px 15px;
  text-align: center;
}

.about-logo .logo {
  width: 90%;
  text-align: center;
  /* display: block; */
  border: 2px solid var(--color-main);
  /* margin: 15px 20px 50px 20px; */
  margin: 20px auto;
}

.section-line {
  background-color: var(--color-main);
  width: 100%;
  height: 2px;
  margin-top: 60px;
}

.past-summits {
  padding-bottom: 60px;
}

.past-summits .description {
  color: var(--color-dark);
  margin: 24px 50px;
}

.past-summits .summit {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
}

.past-summits .summit li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 325px;
  max-height: 500px;
  margin: 20px auto;
  position: relative;
  background-size: cover;
}

.past-summits .summit .summit1 {
  background-image: url(../img/summit1.jpg);
}

.past-summits .summit .summit2 {
  background-image: url(../img/summit2.jpeg);
}

.past-summits .summit li::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-theme);
  opacity: 0.6;
}

.past-summits .summit p {
  z-index: 1;
  position: relative;
}

.past-summits .summit .year {
  font-size: 2rem;
  font-family: var(--font-open);
  color: var(--color-main);
}

.past-summits .summit .event {
  color: white;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.program {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-bottom: 30px;
  background-image: url("../img/pattern.png");
}

.program .program-title {
  margin: 40px auto 30px auto;
  text-align: center;
  color: white;
  font-family: var(--font-lato);
}

.program ul {
  display: flex;
  flex-flow: column;
  padding-left: 0;
  list-style-type: none;
}

.program ul li {
  background-color: rgba(226, 226, 214, 0.1);
  flex-grow: 1;
  display: flex;
  min-height: 160px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.program ul li:hover {
  border: solid 1px var(--color-main);
  box-sizing: border-box;
}

.program ul li p {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
  color: var(--color-main);
}

.program ul li .icon {
  width: 2rem;
  height: 2rem;
  margin: 20px;
}

.program h4 {
  width: 115px;
  color: var(--color-theme);
}

.program .button-join {
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 70%;
  margin: 40px auto;
  padding: 30px 20px;
  background-color: var(--color-theme);
}

a {
  text-decoration: none;
}

.speakers {
  width: 100%;
}

.speakers ul {
  width: 100%;
}

.speakers ul li {
  display: flex;
  margin-top: 50px;
  margin-left: 15px;
  padding-right: 15px;
}

.speakers ul li img {
  max-height: 150px;
  margin-right: 15px;
}

.speakers ul li .name {
  font-family: var(--font-open);
  margin: 0;
  padding-top: 5px;
}

.speakers ul li .field {
  font-family: var(--font-lato);
  font-style: italic;
  color: var(--color-theme);
  margin: 0;
  padding-top: 10px;
}

.speakers ul li .line-s {
  width: 30px;
  height: 2px;
  background-color: var(--color-main);
  margin: 15px 0;
}

.speakers ul li .description {
  font-size: 0.8rem;
  color: var(--color-dark);
  margin: 0;
}

.speakers h3 {
  margin: 40px auto 30px auto;
  text-align: center;
  color: var(--color-dark);
}

.speakers .more-speakers {
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--color-main);
  padding: 20px 0;
  margin: 50px 15px;
}

.speakers .more-speakers i {
  color: var(--color-theme);
  margin-left: 15px;
}

.partners {
  margin: 80px auto 30px auto;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--color-dark);
  font-family: var(--font-lato);
}

.partners img {
  width: 40px;
  height: 40px;
}

.partners a {
  color: var(--color-main);
  font-family: var(--font-open);
  font-size: 2rem;
}

.partners h3 {
  padding-top: 40px;
  text-align: center;
  color: var(--color-main);
}

.partners ul li {
  margin: 20px 0;
}

.footer {
  padding: 0 30px 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer img {
  width: 120px;
}

.footer p {
  display: inline-block;
  width: 60%;
  padding-bottom: 8px;
}

.footer.about {
  background-color: var(--color-dark);
  padding-top: 40px;
}

.footer.about p {
  color: var(--color-main);
}

.footer-about p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .mobile-version {
    display: none;
  }

  .program .button-join {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .more-speakers {
    display: none;
  }

  .desktop-version {
    display: block;
  }

  /*  home page */
  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .upper-header {
    width: 100%;
    height: 20px;
    position: inherit;
  }

  .upper-header img {
    width: 20px;
    height: 20px;
  }

  .upper-header ul {
    background-color: var(--color-dark);
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 5px 10px;
  }

  .upper-header ul li {
    margin-left: 30px;
  }

  .upper-header ul li .lang {
    font-family: var(--font-lato);
    color: var(--color-main);
    margin: 0;
  }

  nav {
    width: 100%;
  }

}
